.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #333;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-field {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 16px;
}

.update-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.update-button:hover {
  background-color: #0056b3;
}

.update-button:active {
  transform: translateY(2px);
}

.previous-locations {
  margin-top: 30px;
}

.subheading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.previous-locations p {
  margin-bottom: 5px;
  font-size: 14px;
}

.data-input-container {
  margin-top: 30px;
  text-align: center;
}

.data-input-field {
  width: 300px;
  height: 100px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 16px;
  resize: vertical;
}

.add-data-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}

.add-data-button:hover {
  background-color: #0056b3;
}

.add-data-button:active {
  transform: translateY(2px);
}


.location-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.location-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 5px;
  transition: background-color 0.3s;
}

.location-item:hover {
  background-color: #f5f5f5;
}

.location-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
